<div class="c-footer">
  <div class="u-content">
    <div class="c-footer__content">
      <div class="c-footer__content-copy">
        <strong>Nombre Asociación</strong><br>Asociación de Protección Animal. Madrid.
      </div>
      <div class="c-footer__rrss">
        <div><a href="https://www.instagram.com" target="_blank"><img class="u-social-icon" src="../../../assets/img/instagram-brands.svg" alt=""></a></div>
        <div><a href="https://www.facebook.com" target="_blank"><img class="u-social-icon" src="../../../assets/img/facebook-brands.svg" alt=""></a></div>
      </div>
      <a href="https://ayudaanimalagata.wordpress.com/" target="_blank"><img class="c-footer__content-agata" src="../assets/img/madeWithLoveBy_onlyLyrics.svg" alt=""></a>
    </div>
  </div>
</div>
