
<div class="u-menu">
  <div class="u-content">
    <div class="u-navbar">
      <div class="u-navbar__burger" (click)="presentMenu($event)">
        <span class="u-navbar__burger-menu" [ngClass]="isMenuVisible ? 'u-navbar__burger-menu--open' : ''">
            <span class="u-navbar__burger-menu-line"></span>
            <span class="u-navbar__burger-menu-line"></span>
            <span class="u-navbar__burger-menu-line"></span>
        </span>
      </div>

      <div class="u-navbar__brand" [routerLink]="['']">
        <img src="assets/img/logo2.png" alt="">
        <div class="u-navbar__name">Felinas<br class="hidden-xs"> de Aluche</div>
      </div>

      <div class="u-navbar__menu" [ngClass]="isMenuVisible ? 'u-navbar__menu--open' : ''">
        <div class="u-navbar__menu-list">
          <a class="u-navbar__menu-item"
            [routerLink]="['/inicio']"
            (click)="closeMenu()">Inicio</a>
          <a class="u-navbar__menu-item"
            [routerLink]="['/nuestra-labor']"
            (click)="closeMenu()">Nuestra labor</a>
          <a class="u-navbar__menu-item"
            [routerLink]="['/colabora']"
            (click)="closeMenu()">Colabora</a>
          <a class="u-navbar__menu-item"
            [routerLink]="['/casa-de-acogida']"
            (click)="closeMenu()">Hazte casa de acogida</a>
          <a class="u-navbar__menu-item"
            [routerLink]="['/adopta']"
            (click)="closeMenu()">¡Adopta!</a>
        </div>
        <div class="u-navbar__mobile-rrss">
          <div><a href="https://www.instagram.com" target="_blank"><img class="u-social-icon" src="../../../assets/img/instagram-dark.svg" alt=""></a></div>
          <div><a href="https://www.facebook.com" target="_blank"><img class="u-social-icon" src="../../../assets/img/facebook-dark.svg" alt=""></a></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="inicio" class="u-header">
  <div class="u-content">
    <div class="u-header-content">
      <h1>Nombre<br>asociación</h1>
      <h2 class="u-header-subtitle">Asociación de Protección Animal sin ánimo de lucro dedicada a ayudar a los gatos callejeros en Madrid.</h2>
      <div><a class="u-button" href="https://www.teaming.net" target="_blank">¡Únete a nuestro Teaming!</a></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

