html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif; }

h2 {
  font-size: 3rem;
  @media screen and (max-width: 768px) {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: 2rem;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  @media screen and (max-width: 768px) {
    font-size: 1.8rem;
    margin: 0;
  }
}
p {
  font-size: 1.4rem;
  line-height: 2rem;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.u-button {
  width: 300px;
  height: 45px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #e6f5ff;
  color: #0f0f0f;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  &:hover {
    background-color: #99bed6;
  }
}

.u-text-center {
  text-align: center;
}

.u-content {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 20px;
}

.u-block {
  padding: 60px 0;
}

.u-loading {
  width: 100%;
  height: 100px;
  display: grid;
  place-items: center;
  img {
    width: 50px;
  }
}

.u-menu {
  position: fixed;
  top: 50px;
  // IF has topbar => top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 7px 4px 6px -2px #4b49497d;
  z-index: 9;
  @media only screen and (max-width: 992px) {
    top: 0;
  }
}

.u-topbar {
  background-color: #97c6d2;
  padding: 10px 0;
  &__link {
    color: #494949;
    font-weight: bold;
    text-decoration: none;
  }
  &__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.u-header {
  max-width: 100%;
  height: 540px;
  background: url('./assets/img/fondo.jpg') no-repeat center;
  background-size: cover;
  padding-top: 110px;
  @media screen and (max-width: 1300px) {
    height: 430px;
  }
  @media screen and (max-width: 500px) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/img/fondo.jpg') right -140px center;
    background-size: cover;
    height: 405px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    max-width: 450px;
    color: #fff;
    h1 {
      margin: 20px 0;
      font-size: 70px;
      @media screen and (max-width: 1300px) {
        font-size: 56px;
        line-height: 60px;
      }
    }
  }
  &-subtitle {
    margin: 0 0 30px;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    @media screen and (max-width: 1300px) {
      font-size: 1.1rem;
      line-height: 1.4rem;
    }
  }
}

.u-navbar {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 992px) {
    flex-direction: row-reverse;
  }
  &--inverse {
    @media only screen and (max-width: 992px) {
      flex-direction: initial;
    }
  }
  &__brand {
    display: flex;
    align-items: center;
    gap: 20px;
    @media only screen and (max-width: 1100px) {
      gap: 10px;
    }
  }
  &__name {
    font-size: 26px;
    font-family: Rowdies, "Helvetica Neue", sans-serif;
    font-weight: bold;
    line-height: 28px;
    @media only screen and (max-width: 1100px) {
      font-size: 20px;
      line-height: 22px;
    }
  }
  &__menu {
    &-list {
      display: flex;
      gap: 30px;
      @media only screen and (max-width: 1100px) {
        gap: 15px;
      }
    }
    &-item {
      font-size: 1rem;
      font-weight: bold;
      color: #293133;
      text-decoration: none;
    }
    @media only screen and (max-width: 992px) {
      max-width: 400px;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 65px;
      right: -400px;
      z-index: 9;
      background: #fff;
      transition: 0.5s;
      &-list {
        display: block;
        list-style: none;
        padding: 30px 0;
        margin: 0 30px;
      }
      &-item  {
        display: block;
        text-transform: uppercase;
        padding: 15px 0;
        border-bottom: 1px solid #151212;
        cursor: pointer;
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
        &:focus {
          outline: none;
          &:after {
            content: none;
          }
        }
      }
      &--open {
        transition: 0.5s;
        right: 0;
        box-shadow: 5px 0 4px -2px rgba(45, 45, 45, 0.5);
      }
    }
  }
  &__mobile-rrss {
    display: none;
    @media only screen and (max-width: 992px) {
      display: flex;
      justify-content: center;
      gap: 20px;
      margin: auto;
      padding: 20px;
    }
  }
  &__burger {
    display: none;
    @media only screen and (max-width: 992px) {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      padding: 10px;
      cursor: pointer;
      &-menu {
        display: inline-block;
        position: absolute;
        left: 10px;
        top: 20px;
        &-line {
          display: block;
          width: 30px;
          height: 3px;
          background: black;
          transition: 0.5s;
          &:first-child {
              position: relative;
              top: 10px;
          }
          &:nth-child(2) {
              position: relative;
              top: 0;
          }
          &:last-child {
              position: relative;
              top: -10px;
          }
        }
        &--open {
          .u-navbar__burger-menu-line:first-child {
              transition: 0.5s;
              transform: rotate(45deg);
              position: relative;
              top: 3px;
          }
          .u-navbar__burger-menu-line:nth-child(2) {
              display: none;
          }
          .u-navbar__burger-menu-line:last-child {
              transition: 0.5s;
              transform: rotate(-45deg);
              position: relative;
              top: 0;
          }
        }
      }
    }
  }
}

.u-social-icon {
  width: 40px;
  height: 40px;
  &--small {
    width: 30px;
    height: 30px;
  }
}

.u-link {
  font-weight: 600;
  text-decoration: underline;
  color: #2d7bd6;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.u-title {
  font-size: 40px;
  font-weight: normal;
  margin: 20px 0;
  text-transform: uppercase;
  display: inline-block;
  &:after {
    content: '';
    display: block;
    width: 150px;
    height: 5px;
    background: #ef2368;
  }
  @media only screen and (max-width: 768px) {
    font-size: 24px;
    &:after {
      content: none;
    }
  }
}

.u-subtitle {
  font-size: 24px;
  margin: 20px 0 40px;
  @media only screen and (max-width: 768px) {
    font-size: 16px;
    margin: 0 0 25px;
  }
}

.u-justify {
  text-align: justify;
}

.u-list-check {
  text-align: left;
  list-style-type: '\2713';
  li {padding: 0 5px 5px;}
  @media only screen and (max-width: 768px) {
    -webkit-padding-start: 20px;
  }
}

.visible-xs {
  display: none;
  @media only screen and (max-width: 992px) {
    display: block;
  }
}

.hidden-xs {
  display: block;
  @media only screen and (max-width: 992px) {
    display: none!important;
  }
}

.loading {
  width: 80px;
}

.u-back {
  font-weight: bold;
  font-size: 18px;
  color: #ef2368;
  text-decoration: underline;
  text-align: left;
  cursor: pointer;
}

.is-invalid {
  border: 1px solid red!important;
}


